#kino {
    margin: 10% 0% 10% 0%;
}
h1,h3{
    text-align: center;
}
#harry1{
    margin: -10% -5% 0% 0%;
    width: 187px;
    height: 269px;
}
#info{
    margin: -18% -5% 0% 0%;
}
@media (max-width: 1000px) {
    #harry1{
        margin: 0% 0% 0% 40%;
    }
    #info{
        margin: 18% -5% 0% 0%;
    }
}